.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1021;
  top: 0;
  right: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  background: transparent;
  border: 0;
  width: 30px;
  margin: 0 auto;
  display: block;
}

.sidebar.open {
  width: 350px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #343a40;
  color: #fff;
  padding: 0 5px;
  border: none;
  position: relative;
  z-index: 3;
}

.openbtn:hover {
  background-color: #343a40;
}

@media screen and (max-width: 600px) {
  .sidebar.open {
    width: 300px;
  }
}
